{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">PIE</h3>
                    </div>
                    <div class="card-body">
                        <div id="pie" class="chart-container" style="height: 500px;"></div>
                        <script>
                            let pie_chart = echarts.init(
                                document.getElementById('pie'), 'white', {renderer: 'canvas'}
                            );
                            pie_chart.setOption({{ pie_chart | safe}});
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sunburst</h3>
                    </div>
                    <div class="card-body">
                        <div id="sunburst" class="chart-container" style="height: 500px;"></div>
                        <script>
                            let sunburst_chart = echarts.init(
                                document.getElementById('sunburst'), 'white', {renderer: 'canvas'}
                            );
                            sunburst_chart.setOption({{ sunburst_chart | safe}});
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Calendar</h3>
                    </div>
                    <div class="card-body">
                        <div id="calendar" class="chart-container" style="height: 300px;"></div>
                        <script>
                            let calendar_chart = echarts.init(
                                document.getElementById('calendar'), 'white', {renderer: 'canvas'}
                            );
                            calendar_chart.setOption({{ calendar_chart | safe}});
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Map</h3>
                    </div>
                    <div class="card-body">
                        <div id="map" class="chart-container" style="height: 500px;"></div>
                        <script>
                            let map_chart = echarts.init(
                                document.getElementById('map'), 'white', {renderer: 'canvas'}
                            );
                            map_chart.setOption({{ map_chart | safe}});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

