{% load static %}
<html lang="zh" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta http-equiv="Content-Language" content="en" />-->
<!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta name="msapplication-TileColor" content="#2d89ef">-->
<!--    <meta name="theme-color" content="#4188c9">-->
<!--    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>-->
<!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
<!--    <meta name="mobile-web-app-capable" content="yes">-->
<!--    <meta name="HandheldFriendly" content="True">-->
<!--    <meta name="MobileOptimized" content="320">-->
<!--    <link rel="icon" href="{% static 'assets/images/icon.png' %}" type="image/x-icon"/>-->
<!--    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/icon.png' %}" />-->
<!--    <style type="text/css">-->
<!--        #tag-cloud {-->
<!--            width: 840px;-->
<!--            height: 880px;-->
<!--            margin: 50px auto;-->
<!--        }-->
<!--    </style>-->
<!--    <style>-->
<!--         .background{-->
<!--            width: 100%;-->
<!--            height: 100%;-->
<!--            background-image: url(/static/assets/images/background.jpg);-->
<!--            background-size: 100%, 100%;-->
<!--            background-repeat: no-repeat;-->
<!--            background-attachment: fixed;-->
<!--            background-color:rgba(255,255,255,0.5);-->
<!--        }-->
<!--    </style>-->
    <title>Government System</title>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">-->
<!--    <script src="{% static 'assets/plugins/charts-c3/js/c3.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/plugins/charts-c3/js/d3.v3.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/core.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery.sparkline.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/selectize.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery.tablesorter.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery-jvectormap-2.0.3.min.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery-jvectormap-de-merc.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/jquery-jvectormap-world-mill.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/vendors/circle-progress.min.js' %}"></script>-->
    <!-- Dashboard Core -->
<!--    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/js/dashboard.js' %}"></script>-->
    <!-- c3.js Charts Plugin -->
<!--    <link href="{% static 'assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/plugins/charts-c3/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Google Maps Plugin &ndash;&gt;-->
<!--    <link href="{% static 'assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/plugins/maps-google/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Input Mask Plugin &ndash;&gt;-->
<!--    <script src="{% static 'assets/plugins/input-mask/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Datatables Plugin &ndash;&gt;-->
<!--    <script src="{% static 'assets/plugins/datatables/plugin.js' %}"></script>-->
    <!-- pyecharts-->
<!--    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>-->
<!--    <script type="text/javascript" src="https://assets.pyecharts.org/assets/bmap.min.js"></script>-->
<!--    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>-->
<!--    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=X3ATCKQWRjRxLNLI1Wv9NiTMFAa5bh8W"></script>-->
<!--    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=X3ATCKQWRjRxLNLI1Wv9NiTMFAa5bh8W"></script>-->

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
<!--    &lt;!&ndash; Animate.css &ndash;&gt;-->
<!--    <link href="{% static 'vendors/animate.css/animate.min.css' %}" rel="stylesheet">-->
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>



</head>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>政府大数据平台</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="https://dss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2443852970,3855863032&fm=26&gp=0.jpg" alt="..." class="img-circle profile_img">
<!--                {% if user.profile.avatar %}-->
<!--                    <span class="avatar" style="background-image: url({{ user.profile.avatar.url }})"></span>-->
<!--                {% else %}-->
<!--                    <span class="avatar" style="background-image: url({% static 'assets/images/admin.png' %})"></span>-->
<!--                {% endif %}-->
              </div>
              <div class="profile_info">
                <span>你好,</span>
                <h2>{{ user.username }}先生</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'sidebar.html' %}
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
<!--            <div class="sidebar-footer hidden-small">-->
<!--              <a data-toggle="tooltip" data-placement="top" title="Settings">-->
<!--                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
<!--              </a>-->
<!--              <a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
<!--                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
<!--              </a>-->
<!--              <a data-toggle="tooltip" data-placement="top" title="Lock">-->
<!--                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>-->
<!--              </a>-->
<!--              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">-->
<!--                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
<!--              </a>-->
<!--            </div>-->
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        {% include 'header.html' %}
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}{% endblock content %}
        <!-- /page content -->

        <!-- footer content -->
        {% include 'footer.html' %}
        <!-- /footer content -->
      </div>
    </div>
  </body>


</html>
