{% load static %}
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="#">
                <img src="{% static 'assets/images/tabler1.svg' %}" class="header-brand-img" alt="tabler logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex">
                    <a class="nav-link icon" data-toggle="dropdown">
                        <i class="fe fe-bell"></i>
                        <span class="nav-unread"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/male/41.jpg)"></span>
                      <div>
                        <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                        <div class="small text-muted">10 minutes ago</div>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
                      <div>
                        <strong>Alice</strong> started new task: Tabler UI design.
                        <div class="small text-muted">1 hour ago</div>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
                      <div>
                        <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                        <div class="small text-muted">2 hours ago</div>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item text-center">Mark all as read</a>
                  </div>
                </div>
                <div class="dropdown">
                    <a class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        {% if user.profile.avatar %}
                            <span class="avatar" style="background-image: url({{ user.profile.avatar.url }})"></span>
                        {% else %}
                            <span class="avatar" style="background-image: url({% static 'assets/images/admin.png' %})"></span>
                        {% endif %}
                        <span class="ml-2 d-none d-lg-block">
                            <span class="text-default">{{ user.username }}</span>
                            <small class="text-muted d-block mt-1">Administrator</small>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'user:edit' user.id %}">
                            <i class="dropdown-icon fe fe-user"></i> Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-settings"></i> Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <span class="float-right"><span class="badge badge-primary">6</span></span>
                            <i class="dropdown-icon fe fe-mail"></i> Inbox
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-send"></i> Message
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                        </a>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">
                            <i class="dropdown-icon fe fe-log-out"></i> Sign out
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="input-icon my-3 my-lg-0">
            {% if cur_page == 'kgraph' %}
                <form method="get" class="input-icon my-3 my-lg-0">
                    <div class="input-group">
                        {% if kg_search %}
                            <input type="search" name="search" id="kgsearch_id" class="form-control header-search" value="{{ kg_search }}" tabindex="1" required>
                        {% else %}
                            <input type="search" name="search" id="kgsearch_id" class="form-control header-search" placeholder="Search&hellip;" tabindex="1" required>
                        {% endif %}
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button" onclick="kgsearch()">
                                <i class="fe fe-search"></i>
                            </button>
                            <script type="text/javascript">
                                function kgsearch() {
                                    let searchBar = document.getElementById("kgsearch_id");
                                    self.location.href = "http://" + self.location.host + "/kgraph?search=" + searchBar.value;
                                }
                            </script>
                        </span>
                    </div>
                </form>
            {% endif %}
            </div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="{% url 'home:dashboard' %}" class="nav-link {% if cur_page == 'dashboard' %} active {% endif %}"><i class="fe fe-home"></i> 首页</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'chart:charts' %}" class="nav-link {% if cur_page == 'charts' %} active {% endif %}"><i class="fe fe-pie-chart"></i> 图表</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'kgraph:kgraph' %}" class="nav-link {% if cur_page == 'kgraph' %} active {% endif %}"><i class="fe fe-map"></i> 知识图谱</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'event:post' %}" class="nav-link {% if cur_page == 'post' %} active {% endif %}"><i class="fe fe-upload-cloud"></i> 事件上传</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'event:list' %}" class="nav-link {% if cur_page == 'list' %} active {% endif %}"><i class="fe fe-list"></i> 事件列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>