{% load static %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a size="6" href="{% url 'home:dashboard' %}"><i class="fa fa-home" ></i> 主页 </a>
      </li>
      <li><a size="6" href="{% url 'chart:charts' %}"><i class="fa fa-bar-chart-o" ></i> 图表</a>
      </li>
      <li><a size="6" href="{% url 'kgraph:kgraph' %}"><i class="fa fa-arrows" ></i> 知识图谱 </a>
      </li>
      <li><a size="6" href="{% url 'event:list' %}"><i class="fa fa-table" ></i> 事件列表 </a>
      </li>
      <li><a size="6" href="{% url 'event:post' %}"><i class="fa fa-arrow-up" ></i> 事件上传 </a>
      </li>
      <li><a size="6" href="{% url 'user:permissionView' %}"><i class="fa fa-male" ></i> 成员管理 </a>
      </li>
    </ul>
  </div>
</div>