{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-header" style="background-image: url({% static 'assets/images/profile-back.jpg' %});"></div>
                    <div class="card-body text-center">
                        {% if profile.avatar %}
                        <img class="card-profile-img" src="{{ profile.avatar.url }}" alt="avatar">
                        {% else %}
                        <img class="card-profile-img" src="{% static 'assets/images/admin.png' %}" alt="profile-background">
                        {% endif %}
                        <h3 class="mb-3">{{ profile.user.username }}</h3>
                        <h4 class="mb-3">{{ profile.user.email }}</h4>
                        {% if user.is_superuser %}
                        <h4 class="mb-3">超管</h4>
                        {% elif profile.is_disposer %}
                        <h4 class="mb-3">处理员</h4>
                        <h5 class="mb-3">{{ profile.unit }}</h5>
                        {% elif profile.is_poster %}
                        <h4 class="mb-3">上传员</h4>
                        <h5 class="mb-3">{{ profile.unit }}</h5>
                        {% else %}
                        <h4 class="mb-3">游客</h4>
                        {% endif %}
                        <p class="mb-4">{{ profile.bio }}</p>
                    </div>
                </div>
                <form class="card" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="card-body">
                    <h3 class="card-title">编辑资料</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="username">姓名</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-user"></i>
                                    </span>
                                    <input type="text" class="form-control" value="{{ profile.user.username }}" id="username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="avatar">头像</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="avatar" id="avatar" {% if profile.avatar %} value="{{ user.profile.avatar.url }}" {% endif %}>
                                    <label class="custom-file-label">选择图片</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="email">电子邮箱</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-mail"></i>
                                    </span>
                                    <input type="email" class="form-control" value="{{ profile.user.email }}" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="phone">电话号码</label>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <i class="fe fe-phone"></i>
                                    </span>
                                    <input type="text" class="form-control" value="{{ profile.phone }}" id="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <label class="form-label" for="bio">关于我</label>
                                <textarea rows="5" class="form-control" id="bio" name="bio">{{ profile.bio }}</textarea>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">更新信息</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">通知列表</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <!-- 未读通知列表 -->
                            <div class="row mt-2 ml-4">
                                <ul class="list-group">
                                    {% for notice in notices %}
                                        <li class="list-group-item" id="notice_link">
                                            <span style="color: #5897fb;">
                                                {{ notice.actor }}
                                            </span>
                                                {{ notice.verb }}。
                                            </a>
                                            {{ notice.timestamp|date:"Y/m/d H:i" }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row mt-4 ml-4">
                                <a href="{% url "notice:update" %}" class="btn btn-warning" role="button">清空所有通知</a>
                            </div>
                        </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">申请列表</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <!-- 待审申请列表 -->
                            <div class="row mt-2 ml-4">
                                <ul class="list-group">
                                    {% for apply in apply_list %}
                                        <li class="list-group-item" id="notice_link">
                                        <a href="{% url "user:permissionVerify" apply.id %}">
                                            {{ apply }}
                                        </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    </div>
</div>

<style>
    #notice_link a:link {
        color: black;
    }

    #notice_link a:visited {
        color: lightgrey;
    }
</style>

{% endblock content %}