{% load static %}
<!--<!doctype html>-->
<!--<html lang="zh" dir="ltr">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <meta http-equiv="Content-Language" content="en" />-->
<!--    <meta name="msapplication-TileColor" content="#2d89ef">-->
<!--    <meta name="theme-color" content="#4188c9">-->
<!--    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>-->
<!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
<!--    <meta name="mobile-web-app-capable" content="yes">-->
<!--    <meta name="HandheldFriendly" content="True">-->
<!--    <meta name="MobileOptimized" content="320">-->
<!--    <link rel="icon" href="{% static 'assets/images/icon.png' %}" type="image/x-icon"/>-->
<!--    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/icon.png' %}" />-->
<!--    &lt;!&ndash; Generated: 2019-04-04 16:55:45 +0200 &ndash;&gt;-->
<!--    <title>Sign up-Government Data Admin</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">-->
<!--      &lt;!&ndash; Dashboard Core &ndash;&gt;-->
<!--    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/js/dashboard.js' %}"></script>-->
<!--    &lt;!&ndash; c3.js Charts Plugin &ndash;&gt;-->
<!--    <link href="{% static 'assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/plugins/charts-c3/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Google Maps Plugin &ndash;&gt;-->
<!--    <link href="{% static 'assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" />-->
<!--    <script src="{% static 'assets/plugins/maps-google/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Input Mask Plugin &ndash;&gt;-->
<!--    <script src="{% static 'assets/plugins/input-mask/plugin.js' %}"></script>-->
<!--    &lt;!&ndash; Datatables Plugin &ndash;&gt;-->
<!--    <script src="{% static 'assets/plugins/datatables/plugin.js' %}"></script>-->
<!--</head>-->
<!--<body class="">-->
<!--    <div class="page">-->
<!--        <div class="page-single">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col col-login mx-auto">-->
<!--                        <div class="text-center mb-6">-->
<!--                            <img src="{% static 'assets/images/tabler.svg' %}" class="h-9" alt="">-->
<!--                        </div>-->
<!--                        <form class="card" action="" method="post">-->
<!--                            {% csrf_token %}-->
<!--                            <div class="card-body p-6">-->
<!--                                <div class="card-title">重置密码</div>-->
<!--                                <p class="text-muted">输入你的新密码</p>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="form-label" for="username">New password</label>-->
<!--                                    <input type="password" class="form-control" id="newpassword" name="newpassword" required>-->
<!--                                    <div class="help-block with-errors"></div>-->
<!--                                </div>-->
<!--                                <div class="form-footer">-->
<!--                                    <button type="submit" class="btn btn-primary btn-block">确认</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        <div class="text-center text-muted">-->
<!--                            返回<a href="{% url 'user:login' %}">登录</a>页面-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>重置确认</title>

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static 'vendors/animate.css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  </head>
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post">
              {% csrf_token %}
              <h1><i class="fa fa-institution"></i> 政务大数据平台</h1>
                <div>
                    <input type="text" class="form-control" placeholder="新密码" required=""  id="newpassword" name="newpassword">
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary btn-xs">确认重置</button>

                </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br/>
                <div>
                  <a href="{% url 'user:login' %}" class="to_register"> 登录账户 </a>
                  <a href="{% url 'user:register' %}" class="to_register"> 注册账户 </a>
                </div>
                <br/>

                <div>
                  <p>©2020 GovernmentDataAdmin</p>
                </div>
              </div>
            </form>
          </section>
        </div>


      </div>
    </div>
  </body>
</html>
